<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.gripxtech.odoojsonrpcclient">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission
            android:name="android.permission.GET_ACCOUNTS"
            android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".core.authenticator.LoginActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".core.authenticator.SplashActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar.Immersive.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".core.authenticator.ProfileActivity"
                android:label="@string/action_profile"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".core.authenticator.ManageAccountActivity"
                android:label="@string/action_manage_account"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".core.preferences.SettingsActivity"
                android:label="@string/action_settings"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>

        <service
                android:name=".core.authenticator.AuthenticatorService"
                android:enabled="true"
                android:exported="true"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

        <provider
                android:name=".core.utils.OdooFileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>